[access]
	inheritFrom = external
[submit]
	action = rebase always
	mergeContent = true

[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = NoBlock
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MAX OR is:MIN
[label "Commit-Queue"]
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE

[access "refs/for/refs/*"]
[plugin "git-numberer"]
	generate-enabled-refglob = refs/heads/master
	generate-enabled-refglob = refs/branch-heads/*
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/branch-heads/*

